button {
        background-color: transparent;
        display: block;
        border: 1px solid black; 
        font-size: 25px; 
        font-weight: 400;
        padding: 10px 30px;
        border-radius: 25px;
        color:  #083F46;
        ;
    }
    